<div class="row">
  <div class="three columns" ng-controller="FoodCtrl">
  	<ul id="menu">
  		<li ng-repeat="food in foods">
        <a ng-click="addFood(food)">
				<img ng-src="{{food.imageUrl}}" />
      </a>
				<p>
					{{ food.name }}
				</p>
  		</li>
  	</ul> 
  </div>
  <div class="nine columns" ng-controller="TabCtrl">
    <h2>Table <span>{{id}}</span></h2>
      <ul id="customer-tab">
        <li ng-show="tab.tabItems.length == 0"><h3>Click a food to add it</h3></li>
        <li ng-repeat="tabItem in tab.tabItems">
          <h3>
            {{ tabItem.name}} <span>{{ tabItem.cents | money }}</span>
          </h3>
        </li>
        <li id='total' ng-show="tab.tabItems.length > 0">
          <h3>Total <span>{{ totalCents(tab.tabItems) | money }}</span></h3>
        </li>
      </ul>
  </div>
</div>